@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
html {
   scroll-behavior: smooth; 
}

h1 {
    color: darkblue;
}

body{
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    background-color: rgb(244, 255, 94);
}

a {
    color: yellowgreen;
    text-decoration-style: dashed;
}

a:visited {
    color: lime;
    text-decoration-style: dotted;
}

a:hover {
    background-color: blue;
}
